<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="core-search">
    <f:form name="searchRequest" object="{searchRequest}">
        <f:form.textfield property="query"/>
        <f:form.submit value="search"/>
    </f:form>

    <ul>
        <f:for each="{searchResult}" as="result">
            <li>
                <f:link.page pageUid="{result.plainData.uid}">
                    [{result.type}:{result.plainData.uid}] - {result.plainData.search_title}
                </f:link.page>
            </li>
        </f:for>
    </ul>
</div>

</html>
